@import url('https://fonts.googleapis.com/css?family=Courgette|Acme');
:root {
	--back: #0f0326;
  --back2: #5e9cae;
  --foredark: #c75b12;
	--forelight: aliceblue;
	--border: hsla(0,0%,20%,.8);
	--borderlight: hsla(0,0%,33%,.3);
	--shadow: hsl(0,0%,50%);
	--zebra: #fbffb9;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    justify-content: center;
    align-items: center;
    display: grid;
    height: 100vh;
    margin: 0 auto;
    background-color: aliceblue;
}
p, li {
    font-family: "Acme";
}
#mode {
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 3rem;
	cursor: pointer;
    color: #5e9cae;
}
header {
    display: grid;
    grid-template-columns: 55px 1fr 1fr;
    width: 100%;
    justify-items: center;
    background-color: #14453d;
    color: #fbffb9;
    font-size: 15px;
    font-family: "Courgette";
}
header h1 {
    grid-column: 2/3;

}
header img {
    height: 110px;
    border:1px dashed #0f0326;
    grid-column: 3/4;
}
nav {
    text-align: center;
    background-color: #fbffb9;
    margin: 0 auto;
	width: 100%;
}
nav ul {
	list-style-type: none;
}
nav a{
    text-decoration: none;
    color: #0f0326;
    padding: 10px;
    display: block;
    font-family: "Courgette";
}
nav a:hover{
text-decoration: underline;
color: #c75b12;
}
.navigation li {
	display: none;
}
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: aliceblue;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖️";
}
.open li {
	display: block;
	width:100vh;
}
.open li a {
	display: block;
}
.active::before {
	content: "👁️‍🗨️"; 
}
#ex {
	font-size: 1rem;
	padding: 3px 7px 6px;
	background-color: #e37222;
    color: #14453d;
    border:dotted 1px #14453d;
 	position:inherit;
    width: 2rem;
}
#advert {
    text-align: center; 
    font-family: "Acme";
    background-color: #e37222;
    color: #14453d;
    width: 100%;
}
.close {
    display: none;
}
main {
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 15px;
    font-family: "Courgette";
}
main h2 {
    text-align: center;
    grid-column: 1/3; 
}
.hero {
    background-color: #5e9cae;
    text-align: center;
    height: auto;
    color: #0f0326;
    grid-column: 1/3;
	margin: 15px;
    width: 350px;
}
.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.hero a {
    text-decoration: none;
    background-color: #fbffb9;
    color: #0f0326;
}
.hero a:hover {
    text-decoration: underline;
    background-color: #0f0326;
    color: #fbffb9;
}
.events {
    background-color: #5e9cae;
    text-align: center;
    height: auto;
    color: #0f0326;
    grid-column: 1/3;
	margin: 15px;
    width: 350px;
}
.events ul{
    list-style-type: none;
}
.weather {
    background-color: #5e9cae;
    text-align: center;
    height: auto;
    color: #0f0326;
    grid-column: 1/3;
	margin: 15px;
    width: 350px;
}
.forecast {
    background-color: #14453d;
    text-align: center;
    height: auto;
    color: #0f0326;
    grid-column: 1/3;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
	margin: 5px;
}
.forecast h2 {
    grid-column: 1/4;
    color: #c75b12;
}
.forecast div {
    background-color: #5e9cae;
    border:1px dashed #0f0326;
    padding: 5px;
}
.spotlights {
    background-color: #0f0326;
    text-align: center;
    height: auto;
    color: #5e9cae;
    grid-column: 1/3;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
	margin: 15px;
    width: 350px;
}
.spotlights h2 {
    grid-column: 1/4;
}
.spotlights ul {
    list-style-type: none;
}
.fun {
    grid-column: 1/4;
    height: 150px;
    border:1px dashed #14453d;
}
.fun a {
    text-decoration: none;
    background-color: #0f0326;
    color: #5e9cae;
}
.fun a:hover {
    text-decoration: underline;
    background-color: #5e9cae;
    color: #0f0326;
}
.food {
    grid-column: 1/4;
    height: 150px;
    border:1px dashed#14453d;
}
.food a {
    text-decoration: none;
    background-color: #0f0326;
    color: #5e9cae;
}
.food a:hover {
    text-decoration: underline;
    background-color: #5e9cae;
    color: #0f0326;
}
.favs {
    grid-column: 1/4;
    height: 150px;
    border:1px dashed#14453d;
}
.favs a {
    text-decoration: none;
    background-color: #0f0326;
    color: #5e9cae;
}
.favs a:hover {
    text-decoration: underline;
    background-color: #5e9cae;
    color: #0f0326;
}
.sidebar {
    background-color: #5e9cae;
    color: #0f0326;
    width: 391px;
    text-align: center;
    grid-column: 1/3;
}
.sidebar img {
    height: 200px;
    width: auto;
    padding: 5px;
}
.sidebar p,a {
    color: gray;
    font-size: small;
}
.ad1 {
    background-color: #fbffb9;
    color: #c75b12;
    height: auto;
    width: 391px;
    text-align: center;
    grid-column: 1/3;
    padding: 5px;
}
.ad1 ul {
    list-style-type: none;
    font-size: 12px;
}
.ad1 p,a {
    font-size: 20px;
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
    grid-column: 2/3;
    max-width: 500px;
}
form {
    grid-column: 1/2;
    max-width: 300px;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--back);
    border-radius: 10px;
    padding: .5rem 2%;
    width: 170px;
}
form legend {
  color: var(--back);
  margin: 0 1rem; 
  padding: 0 .25rem;
}
form label.personal, label.business {
display: block;
padding-top: 1rem;
color: var(--foredark);
font-size: .8rem;
}
form label.personal input, label.business input, form label.personal select, label.business select {
display: block;
font-size: 1rem;
border: solid 1px var(--back);
border-radius: 4px;
padding: .75rem;
color: var(--back2);
width: 100%;
max-width: 20rem;
background-color: var(--zebra);
}
form fieldset.membership {
    display:block;
    padding: .25rem;
    color: var(--back2);
    width: 170px;
}
form input.submitBtn {
    border: none;
    background-color: var(--foredark);
    color: var(--zebra);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width:96%;
    max-width: 20rem;
}
form fieldset.personal input:required, .business input:required {
   border-left: var(--foredark) solid 6px;
}
form fieldset.personal input:required:valid, .business input:required:valid {
    border-left: greenyellow solid 6px;
}
caption {
  padding: 10px;
  caption-side: bottom;
	color: var(--back);
	font-size: .85rem;
}

thead tr:first-child th {
	background-color: var(--back);
	color: var(--foredark);
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
}

th {
	background-color: var(--back2);
	font-size: larger;
    color: var(--forelight);
}

td {
	text-align: center;
}

tbody tr:nth-child(odd) {
	background-color: var(--zebra);
}
.thanks {
    grid-column: 1/3;
}
.change {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: var(--back2);
	text-align: center;
    grid-column: 1/3;
}

.change button {
	padding: 1rem;
	font-weight: 700;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}

.grid {
    grid-column: 1/3;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
    width: 400px;
    height: 400px;
    color: var(--back);
}

.grid img {
	border: 1px solid #fff;
    max-width: 200px;
    max-height: 175px;
    height: auto;
    width: auto;
	box-shadow: 0 0 10px #333;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	font-family: "Caveat", cursive;
}
.grid a {
    text-decoration: none;
    color: var(--foredark);
}
.grid a:hover {
    color: var(--back2);
    text-decoration: underline;
}
.list {
	display: inline-flex;
	flex-direction: column;
    grid-column: 1/3;
    width: 450px;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
    color: var(--back);
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: "Acme", sans-serif;
}
.list section a {
    text-decoration: none;
    color: var(--foredark);
}
.list section a:hover {
    text-decoration: underline;
    color: var(--back2);
}
.list section:nth-child(even) {
	background-color: var(--forelight);
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}
img {
	height: 75px;
	max-width: 100%; /* Images are jerks - Seattle*/
}
footer {
    text-align: center; 
    font-family: "Acme";
    background-color: #e37222;
    color: #14453d;
    width: 100%;
}