@import url('https://fonts.googleapis.com/css?family=Courgette|Acme');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    justify-content: center;
    align-items: center;
    display: grid;
    height: 100vh;
    margin: 0 auto;
    background-color: aliceblue;
}
p, li {
    font-family: "Acme";
}
#mode {
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 3rem;
	cursor: pointer;
    color: #5e9cae;
}
header {
    display: grid;
    grid-template-columns: 55px 1fr 1fr;
    max-width: 800px;
    justify-items: center;
    background-color: #14453d;
    color: #fbffb9;
    font-size: 15px;
    font-family: "Courgette";
}
header h1 {
    grid-column: 2/3;

}
header img {
    height: 110px;
    border:1px dashed #0f0326;
    grid-column: 3/4;
}
nav {
    text-align: center;
    background-color: #fbffb9;
    margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}
nav a{
    text-decoration: none;
    color: #0f0326;
    padding: 10px;
    display: block;
    font-family: "Courgette";
}
nav a:hover{
text-decoration: underline;
color: #c75b12;
}
.navigation li {
	display: none;
}
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: aliceblue;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖️";
}
.open li {
	display: block;
	width:100vh;
}
.open li a {
	display: block;
}
.active::before {
	content: "👁️‍🗨️"; 
}
main {
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 15px;
    font-family: "Courgette";
}
main h2 {
    text-align: center;
    grid-column: 1/3; 
}
.hero {
    background-color: #5e9cae;
    text-align: center;
    height: auto;
    color: #0f0326;
    grid-column: 1/3;
	margin: 15px;
    width: 350px;
}
.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.hero a {
    text-decoration: none;
    background-color: #fbffb9;
    color: #0f0326;
}
.hero a:hover {
    text-decoration: underline;
    background-color: #0f0326;
    color: #fbffb9;
}
.events {
    background-color: #5e9cae;
    text-align: center;
    height: auto;
    color: #0f0326;
    grid-column: 1/3;
	margin: 15px;
    width: 350px;
}
.events ul{
    list-style-type: none;
}
.weather {
    background-color: #5e9cae;
    text-align: center;
    height: auto;
    color: #0f0326;
    grid-column: 1/3;
	margin: 15px;
    width: 350px;
}
.spotlights {
    background-color: #0f0326;
    text-align: center;
    height: auto;
    color: #5e9cae;
    grid-column: 1/3;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
	margin: 15px;
    width: 350px;
}
.spotlights h2 {
    grid-column: 1/4;
}
.spotlights ul {
    list-style-type: none;
}
.fun {
    grid-column: 1/4;
    height: 150px;
    border:1px dashed #14453d;
}
.fun a {
    text-decoration: none;
    background-color: #0f0326;
    color: #5e9cae;
}
.fun a:hover {
    text-decoration: underline;
    background-color: #5e9cae;
    color: #0f0326;
}
.food {
    grid-column: 1/4;
    height: 150px;
    border:1px dashed#14453d;
}
.food a {
    text-decoration: none;
    background-color: #0f0326;
    color: #5e9cae;
}
.food a:hover {
    text-decoration: underline;
    background-color: #5e9cae;
    color: #0f0326;
}
.favs {
    grid-column: 1/4;
    height: 150px;
    border:1px dashed#14453d;
}
.favs a {
    text-decoration: none;
    background-color: #0f0326;
    color: #5e9cae;
}
.favs a:hover {
    text-decoration: underline;
    background-color: #5e9cae;
    color: #0f0326;
}
.sidebar {
    background-color: #5e9cae;
    color: #0f0326;
    width: 391px;
    text-align: center;
}
.ad1 {
    background-color: #fbffb9;
    color: #c75b12;
    height: 200px;
    width: 391px;
    text-align: center;
}
footer {
    text-align: center; 
    font-family: "Acme";
    background-color: #e37222;
    color: #14453d;
    width: 100%;
}