@media (min-width: 800px) {
    body {
        display: grid;
        height: 100vh;
        margin: 0 auto;
    }
    header {
        padding: 1rem;
        display: flex;
    }
    h1 {
        position: relative;
        left: 50px;
        top: 50px;
    }
    main {
        justify-items: center;
    }
    nav ul {
        display: flex;
    }
    .navigation li {
        display: flex;
        flex: 1 1 100%;
    }
    .hero {
        grid-column: 1/2;
    }
    .events {
        grid-column: 2/3;
    }
    .weather {
        grid-column: 2/3;
    }
    .spotlights {
        grid-column: 1/3;
        width: 750px;
    }
    .fun {
        grid-column: 1/2;
    }
    .food {
        grid-column: 2/3;
    }
    .favs {
        grid-column: 3/4;
    }
    #menu {
		display: none;
	}
 }